{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>ECommerce</title>
      {% block base_head %}{% endblock %}
        {% include 'base/css.html' %}
    </head>
    <body>
      {% include 'base/navbar.html' %}
        {% if messages %}
      <div class="alert alert-success messages">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}<br/>
          </span>
          {% endfor %}
      </div>
      {% endif %}
      <div class="mx-5 my-2">
          {% block content %}{% endblock %}
      </div>
      {% block javascript %}{% endblock %}
        {% include 'base/js.html' %}
    </body>
  </html>