{% extends "base.html" %}


{% block content %}

{% if cart.products.exists %}
<!-- <table class="table cart-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Product Price</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for product in cart.products.all %}
    <tr class='cart-product'>
      <th scope="row">{{ forloop.counter }}</th>
      <td><a href='{{ product.get_absolute_url }}'>{{ product.title }}</a> 
        {% include 'carts/snippets/remove-product.html' with product_id=product.id %}
      </td>
      <td>{{ product.price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b> $<span class='cart-subtotal'>{{ cart.subtotal }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b> $<span class='cart-total'>{{ cart.total }}</span></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><a class='btn btn-lg btn-success' href='{% url "cart:checkout" %}'>Checkout</a></td>
    </tr>

  </tbody>
</table>

<div class='cart-item-remove-form' style='display:none'>

    {% include 'carts/snippets/remove-product.html' %}
  </div> -->


  <div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="cart-title mt-50">
                    <h2>Shopping Cart</h2>
                </div>

                <div class="cart-table clearfix">
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for product in cart.products.all %}
                            <tr>
                                <td class="cart_product_img">
                                    <a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="Product"></a>
                                </td>
                                <td class="cart_product_desc">
                                    <a href="{{ product.get_absolute_url }}"><h5>{{ product.title }}</h5></a>
                                </td>
                                <td class="price">
                                    <span>{{ product.price }}</span>
                                </td>
                                <td class="qty">
                                  {% include 'carts/snippets/remove-product.html' with product_id=product.id %}
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>subtotal:</span> <span class='cart-subtotal'>Rs. {{ cart.subtotal }}</span></li>
                        <li><span>delivery:</span> <span>Free</span></li>
                        <li><span>total:</span> <span class='cart-total'>Rs. {{ cart.total }}</span></li>
                    </ul>
                    <div class="cart-btn mt-100">
                        <a href='{% url "cart:checkout" %}' class="btn amado-btn w-100">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% else %}
<div class="cart-table-area section-padding-100">
  <div class="container-fluid">
    <div class="cart-title mt-50 text-center">
      <h2>Cart is empty</h2>
    </div>
  </div>
</div>
{% endif %}


{% endblock %}