{% extends "base.html" %}


{% block content %}


    <!-- <div class='row'>
        <div class='col-12 col-md-6'>
                <h1>{{ object.title }}</h1>
                {{ object.timestamp|timesince }} ago
                {{ object.description|linebreaks }}<br/>
                {% if object.image %}
                    <img src='{{ object.image.url }}' class='img-fluid' />
                {% endif %}
        </div>
        <div class='col-12 col-md-6'>
            {% include 'products/snippets/update-cart.html' with product=object cart=cart %}

        </div>
</div> -->


<!-- Product Details Area Start -->
<div class="single-product-area section-padding-100 clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url('{{ object.image.url }}');">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="{{ object.image.url }}">
                                    <img class="d-block w-100" src="{{ object.image.url }}" alt="First slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-5">
                <div class="single_product_desc">
                    <div class="product-meta-data">
                        <div class="line"></div>
                        <p class="product-price">Rs. {{ object.price }}</p>
                        <h4>{{ object.title }}</h4>
                        <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                        </div>
                        <p class="avaibility">{{ object.timestamp|timesince }} ago</p>
                    </div>

                    <div class="short_overview my-5">
                        <p>{{ object.description|linebreaks|truncatewords:80 }}</p>
                    </div>

                        {% include 'products/snippets/update-cart.html' with product=object cart=cart type=0 %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

